html, body, #canvas {
    width: 100%;
    height: 100%;
    margin: 0;
}
#canvas {
    display: block;
    &.grab {
        cursor: grab;
    }
}
#palette {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
}
#picker {
    input {
        display: block;
        cursor: pointer;
    }
}
#drawer, #translater, #selector, #remove {
    display: inline-block;
    cursor: pointer;
    &.drawing, &.translating, &.selecting, &.removing {
        background-color: red;
        border: 1px solid black;
    }
}
#plus, #moins{
    cursor: pointer;
}
label {
    cursor: pointer;
    display: flex;
    input[type=range] {
        width: 90%;
    }
    input[type=file] {
        display: none;
    }
}